{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    <div class="card container bg-white p-3">       
        <div class="row no-gutters">
            <div class="col-md-3">
                {% if doc.profile_picture %}
                <img src="{{url_for('static',filename='profile_pics/'+doc.profile_image)}}" class="card-img" alt="..." style="width: fit-content;">
                {% else %}
                <img src="{{url_for('static',filename='profile_pics/'+doc.profile_image)}}" class="card-img" alt="..." style="width: 250px;">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title text-primary">Dr. {{doc.name}}</h5>
                    <p class="card-text">{{doc.qualification}}</p>
                    <p class="card-text">{{doc.specialization}}</p>
                    <p class="card-text">{{doc.experience}}</p>
                    <p class="card-text">{{doc.description}}</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class=" border container bg-white p-2">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-hospitals-tab" data-toggle="pill" href="#pills-hospitals" role="tab" aria-controls="pills-hospitals" aria-selected="false">Hospitals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-slots-tab" data-toggle="pill" href="#pills-slots" role="tab" aria-controls="pills-slots" aria-selected="false">Hospitals wise slots</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Reviews</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Write Review</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <div class="card-body">
                            <h5 class="card-title">{{doc.address_line_3}}</h5>
                            <p class="card-text">{{address}}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <h5 class="card-title text-primary">₹{{doc.consultation_fees}}</h5>
                            <a href="#" class="btn btn-primary">Call Now</a><a href="#" style="margin-left: 10px;">{{doc.contact_number}}</a>
                            <br>
                            <br>
                            <p class="card-text">Or email on : <a href="#">{{doc.email}}</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-hospitals" role="tabpanel" aria-labelledby="pills-hospitals-tab">
                <div class="card">
                    <h6 class="card-header"><b>Hospitals</b></h6>
                    {% if doc.hospital %}
                        {% for h in doc.hospital %}
                            <div class="card">
                                <div class="card-body ">
                                    <div class="float-left d-inline-block">
                                        <a class="card-title text-primary" href="{{url_for('hospitals.hosp',hosp_id=h.id)}}"><h4>{{h.name | title }}</h4></a>
                                        <p class="card-text">{{ h.speciality }}</p>
                                        <p class="card-text text-muted">{{ h.doctor | length }} {% if h.doctor | length ==1 %}Doctor{% else %}Doctors{% endif %}</p>
                                    </div>
                                    <div class="float-right d-inline-block">
                                        {% for d in h.days %}
                                        {% if loop.first or loop.last %}
                                        {{ d }}
                                        {% endif %}
                                        {% endfor %}
                                        <p>{{h.start_time }}-{{h.end_time }}</p>
                                        <!--<p>{{h.address}}</p>-->
                                        <a class="text-primary" href="{{url_for('hospitals.hosp',hosp_id=h.id)}}">View Profile</a>
                                        <a href="#" class="btn btn-primary">Call Now</a>
                                    </div>
                                </div>
                            </div>  
                            <br>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="tab-pane fade" id="pills-slots" role="tabpanel" aria-labelledby="pills-slots-tab">
                <div class="card m-2">
                    <div  class="card-header">
                        <h6 class="d-inline float-left"><b>Slots</b></h6>
                        <p class=" d-inline text-muted text-sm float-right">Click on a slot to book an appointment</p>
                    </div>
                    <div class="card-body">
                        {% for slot in slots %}
                            <div class="card">
                                <h6 class="card-header"><b>{{slot.hospital_name}}</b></h6>
                                <br>
                                <div class="card-body row no-gutters" style="padding: 4px;">
                                    {% if slot.morning_slots %}
                                    {% set m_slot = slot.morning_slots.split(',') %}
                                    {% set start_time = m_slot[0].split("-")[0] %}
                                    {% set end_time = m_slot[0].split("-")[1] %}
                                    <div class="card col-md-3">
                                        <h6 class="card-header"><b>Morning Slots</b></h6>
                                        <div class="card-body">
                                            {% if slot.m_capacity < (end_time.split(":")[0]|int - start_time.split(":")[0]|int )*2 %}
                                            <p class="card-text">Timings : 
                                                {{start_time}}-{{end_time}}
                                            </p>
                                            <p class="card-text">Available on : 
                                            {% for m_slot in slot.morning_slots.split(',') %}
                                                {% if '-' not in m_slot %}
                                                    {{m_slot | title}},
                                                {% endif %}
                                            {% endfor %}
                                            </p>
                                            <a href="{{url_for('hospitals.appoint',slot_id=slot.id,c='morning')}}" class="stretched-link"></a>
                                            {% else %}
                                            <p>Slot is full</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if slot.afternoon_slots %}
                                    {% set a_slot = slot.afternoon_slots.split(',') %}
                                    {% set start_time = a_slot[0].split("-")[0] %}
                                    {% set end_time = a_slot[0].split("-")[1] %}
                                    <div class="card col-md-3">
                                        <h6 class="card-header"><b>Afternoon Slots</b></h6>
                                        <div class="card-body">
                                            {% if slot.a_capacity < (end_time.split(":")[0]|int - start_time.split(":")[0]|int )*2 %}
                                            <p class="card-text">Timings : 
                                                {{start_time}}-{{end_time}}
                                            </p>
                                            <p class="card-text">Available on : 
                                            {% for a_slot in slot.afternoon_slots.split(',') %}
                                                {% if '-' not in a_slot %}
                                                    {{a_slot | title}},
                                                {% endif %}
                                            {% endfor %}
                                            </p>
                                            <a href="{{url_for('hospitals.appoint',slot_id=slot.id,c='afternoon')}}" class="stretched-link"></a>
                                            {% else %}
                                            <p>Slot is full</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if slot.evening_slots %}
                                    {% set e_slot = slot.evening_slots.split(',') %}
                                    {% set start_time = e_slot[0].split("-")[0] %}
                                    {% set end_time = e_slot[0].split("-")[1] %}
                                    <div class="card col-md-3">
                                        <h6 class="card-header"><b>Evening Slots</b></h6>
                                        <div class="card-body">
                                            {% if slot.e_capacity < (end_time.split(":")[0]|int - start_time.split(":")[0]|int )*2 %}
                                            <p class="card-text">Timings : 
                                                {{start_time}}-{{end_time}}
                                            </p>
                                            <p class="card-text">Available on : 
                                            {% for e_slot in slot.evening_slots.split(',') %}
                                                {% if '-' not in e_slot %}
                                                    {{e_slot | title}},
                                                {% endif %}
                                            {% endfor %}
                                            </p>
                                            <a href="{{url_for('hospitals.appoint',slot_id=slot.id,c='evening')}}" class="stretched-link"></a>
                                            {% else %}
                                            <p>Slot is full</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if slot.night_slots %}
                                    {% set n_slot = slot.night_slots.split(',') %}
                                    {% set start_time = n_slot[0].split("-")[0] %}
                                    {% set end_time = n_slot[0].split("-")[1] %}
                                    <div class="card col-md-3">
                                        <h6 class="card-header"><b>Night Slots</b></h6>
                                        <div class="card-body">
                                            {% if slot.n_capacity < (end_time.split(":")[0]|int - start_time.split(":")[0]|int )*2 %}
                                            <p class="card-text">Timings : 
                                                {{start_time}}-{{end_time}}
                                            </p>
                                            <p class="card-text">Available on : 
                                            {% for n_slot in slot.night_slots.split(',') %}
                                                {% if '-' not in n_slot %}
                                                    {{n_slot | title}},
                                                {% endif %}
                                            {% endfor %}
                                            </p>
                                            <a href="{{url_for('hospitals.appoint',slot_id=slot.id,c='night')}}" class="stretched-link"></a>
                                            {% else %}
                                            <p>Slot is full</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endif %}


                                </div>
                            </div>
                            <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="card m-2">
                    <h6 class="card-header"><b>Reviews</b></h6>
                    <div class="card-body">
                        {% if reviews %}
                        {% for review in reviews %}
                        <div class="card m-1">
                            <div class="card-body">
                                <h6 class="card-title"><b>{{review.name}}</b></h6>
                                {% for i in range(review.rating) %}
                                <i class="fas fa-star mb-1" style="color: #f1c40f;"></i>
                                {% endfor %}
                                {% for i in range(5-review.rating) %}
                                <i class="fas fa-star"></i>
                                {% endfor %}
                                <p class="text-muted">{{review.content}}</p>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <h4>No Reviews</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <form method="POST">
                    {{form.hidden_tag()}}
                    <div class="card">
                        <div class="card-header">
                            <h6><b>Feedback Form</b></h6>
                        </div>
                        <div class="card-body">
                            {{form.name.label}}<br>
                            {{form.name(class="form-control")}}<br>
                            {{form.content.label}}<br>
                            {{form.content(class="form-control")}}<br>
                            {{form.rating.label}}<br>
                            {{form.rating(class="form-control")}}<br>
                            {{form.submit(class="btn btn-warning")}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}