{% extends 'base.html' %}
{% block content %}
<br>
<div class="container">
    {% if docs %}
        {% for doc in docs %}
            <br>
            <div class="card mb-3" style="max-width: 540px;"> 
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{url_for('static',filename='profile_pics/'+doc.profile_image)}}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-primary">Dr. {{doc.name}}</h5>
                            <p class="card-text">Qualification : {{doc.qualification}}</p>
                            <p class="card-text">Specialization : {{doc.specialization}}</p>
                            <p class="card-text">₹{{doc.consultation_fees}} per visit</p>
                            <a href="{{url_for('doctors.viewDoctor',doctor_id=doc.id)}}" class="btn btn-primary">View Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if hosp %}
        {% for h in hosp %}
            <div class="card">
                <div class="card-body">
                    <div class="float-left d-inline-block">
                        <a class="card-title text-primary" href="{{url_for('hospitals.hosp',hosp_id=h.id)}}"><h4>{{h.name | title }}</h4></a>
                        <p class="card-text">{{ h.speciality }}</p>
                        <p class="card-text text-muted">{{ h.doctor | length }} {% if h.doctor | length == 1 %}Doctor{% else %}Doctors{% endif %}</p>
                    </div>
                    <div class="float-right d-inline-block">
                        {% for d in h.days %}
                        {% if loop.first or loop.last %}
                        {{ d }}
                        {% endif %}
                        {% endfor %}
                        <p>{{h.start_time }}-{{h.end_time }}</p>
                        <!--<p>{{h.address}}</p>-->
                        <a class="text-primary" href="{{url_for('hospitals.hosp',hosp_id=h.id)}}">View Profile</a>
                        <a href="#" class="btn btn-primary">Call Now</a>
                    </div>
                </div>
            </div>  
            <br>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}