{% extends 'base.html' %}
{% block content %}
<br>
<div class="container">
    {% if docs %}
    <h3>List of all Doctors</h3>
    <div style="background-image: linear-gradient(to right,#c31432,#240b36);width: 100%;height: 4px;"></div>
    <p class="text-muted">To filter out results, click the button below</a></p>
    <form method="POST" action="/">
        <div class="dropdown">

            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Filter
            </button>
            <a href="{{url_for('core.docs')}}" class="btn btn-link">Remove Filters</a>
            <div class="dropdown-menu">
                <input class="dropdown-item" type="radio" name="options" id="option1" value="Dentist">Dentist<br>
                <input class="dropdown-item" type="radio" name="options" id="option2" value="Pediatrition">Pediatrition<br>
                <input class="dropdown-item" type="radio" name="options" id="option3" value="General Physician">General Physician<br>
                <input class="dropdown-item" type="radio" name="options" id="option4" value="Heart Surgeon">Heart Surgeon<br>
                <input class="dropdown-item" type="radio" name="options" id="option5" value="Homeopath">Homeopath<br>
                <input class="dropdown-item" type="radio" name="options" id="option6" value="Neurologist">Neurologist<br>
                <button type="submit" name="apply" class="btn btn-primary">Apply</button>

            </div>
        </div>
    </form>
    {% for doc in docs %}
    <br>

    <div class="card mb-3" style="max-width: 540px;">
        <div style="background-image: linear-gradient(to right,#0082c8,#667db6);width: 100%;height: 4px;"></div>
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{url_for('static',filename='profile_pics/'+doc.profile_image)}}" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title text-primary"> {{doc.name}}</h5>
                    <p class="card-text">Qualification : {{doc.qualification}}</p>
                    <p class="card-text">Specialization : {{doc.specialization}}</p>
                    <p class="card-text">₹{{doc.consultation_fees}} per visit</p>
                    <a href="{{url_for('doctors.viewDoctor',doctor_id=doc.id)}}" class="btn btn-primary">View
                        Profile</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% if hosp %}
    <h3>List of all Hospitals</h3>
    <div style="background-image: linear-gradient(to right,#c31432,#240b36);width: 100%;height: 4px;"></div>
    <br>
    {% for h in hosp %}
    <div class="card">
        <div style="background-image: linear-gradient(to right,#0082c8,#667db6);width: 100%;height: 4px;"></div>
        <div class="card-body">
            <div class="float-left d-inline-block">
                <a class="card-title text-primary" href="{{url_for('hospitals.hosp',hosp_id=h.id)}}">
                    <h4>{{h.name | title }}</h4>
                </a>
                <p class="card-text"><span class="text-muted font-weight-bold">Specializations Available:
                    </span>{{ h.speciality }}</p>
                <p class="card-text text-muted">{{ h.doctor | length }}
                    {% if h.doctor | length == 1 %}Doctor{% else %}Doctors{% endif %}</p>
            </div>
            <div class="float-right d-inline-block">
                <span class="text-muted font-weight-bold">Days: </span>
                <h6>{{ h.days[0] | title }} - {{ h.days[h.days| length -1] |title}}</h6>
                <p><span class="text-muted font-weight-bold">Timings: </span>{{h.start_time }}-{{h.end_time }}</p>
                <!--<p>{{h.address}}</p>-->
                <a class="btn btn-primary mr-2" href="{{url_for('hospitals.hosp',hosp_id=h.id)}}">View Profile</a>
                <!--<a href="#" class="btn btn-primary">Call Now</a>-->
            </div>
        </div>
    </div>
    <br>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}