.mrow{
    
    
    
    overflow-x: scroll !important;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .mcard {
    /*float: left;*/
    display: inline-block !important;
    max-width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
    flex-basis: 33.333%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .view {
    background-color: red;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 500px;
  }

  .sub {
    display: inline-block;
    height: 100%;
    background-color: royalblue;
  }