{% extends 'base.html' %}
{% block content %}
<br>
<div class="jumbotron">
    <div class="card container bg-white p-3">       
        <h4 class="text-primary">{{hosp.name | title }}</h4>
        <div class="card-body">
            <p class="card-text">{{ hosp.speciality }}</p>
            <p class="card-text text-muted">{{ hosp.doctor | length }} {% if hosp.doctor | length ==1 %}Doctor{% else %}Doctors{% endif %}</p>
        </div>  
        <div class="card-body">
            <a href="#" class="btn btn-primary">Call Now</a>
        </div>   
    </div>
    <br>
    <div class=" border container bg-white p-2">    
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-overview-tab" data-toggle="tab" href="#nav-overview" role="tab" aria-controls="nav-overview" aria-selected="true">Overview</a>
              <a class="nav-item nav-link" id="nav-doctors-tab" data-toggle="tab" href="#nav-docs" role="tab" aria-controls="nav-doctors" aria-selected="false">Doctors</a>
              <a class="nav-item nav-link" id="nav-slots-tab" data-toggle="tab" href="#nav-slots" role="tab" aria-controls="nav-slots" aria-selected="false">Doctor wise slots</a>
              <a class="nav-item nav-link" id="nav-add-tab" data-toggle="tab" href="#nav-add" role="tab" aria-controls="nav-add" aria-selected="false">Address</a>
              <a class="nav-item nav-link" id="nav-feedbacks-tab" data-toggle="tab" href="#nav-feeds" role="tab" aria-controls="nav-feedbacks" aria-selected="false">Feedbacks</a>
              <a class="nav-item nav-link" id="nav-feed-tab" data-toggle="tab" href="#nav-feed" role="tab" aria-controls="nav-feed" aria-selected="false">Write a feedback?</a>
            </div>
        </nav>
        <div class="tab-content p-3" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">
                <h6><b></b></h6>
                
                <div class="card">
                    <h6 class="card-header"><b>About {{hosp.name}}</b></h6>
                    <div class="card-body">
                        <p class="text-muted">{{hosp.description}}</p>
                    </div>
                    <h6 class="card-header"><b>Timings</b></h6>
                    <div class="card-body">
                        {% for d in hosp.days %}
                            {% if loop.first or loop.last %}
                            <p>{{ d }}</p>
                            {% endif %}
                        {% endfor %}
                        <p>{{hosp.start_time }}-{{hosp.end_time }}</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-add" role="tabpanel" aria-labelledby="nav-add-tab">
                <div class="card">
                    <h6 class="card-header"><b>Address</b></h6>
                    <div class="card-body">
                        <p>{{hosp.address}}</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-docs" role="tabpanel" aria-labelledby="nav-doctors-tab">
                <div class="card">
                    <h6 class="card-header"><b>Doctors</b></h6>
                    {% if hosp.doctor %}
                        {% for doc in hosp.doctor %}
                            <br>
                            <div class="card mb-3" style="max-width: 540px;"> 
                                <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="{{url_for('static',filename='profile_pics/'+doc.profile_image)}}" class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title text-primary">Dr. {{doc.name}}</h5>
                                        <p class="card-text">Qualification : {{doc.qualification}}</p>
                                        <p class="card-text">Specialization : {{doc.specialization}}</p>
                                        <p class="card-text">₹{{doc.consultation_fees}} per visit</p>
                                        <a href="{{url_for('doctors.viewDoctor',doctor_id=doc.id)}}" class="btn btn-primary">View Profile</a>
                                    </div>
                                </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>  
            </div>
            <div class="tab-pane fade" id="nav-slots" role="tabpanel" aria-labelledby="nav-slots-tab">
                <div class="card">
                    <h6 class="card-header"><b>Slots</b></h6>
                    <div class="card-body">
                        {% for slot in slots %}
                            <div class="card">
                                <h6 class="card-header"><b>{{slot.doctor.name}}</b></h6>
                                <br>
                                <div class="card-body row no-gutters" style="padding: 4px;">
                                    {% if slot.morning_slots %}
                                    {% set m_slot = slot.morning_slots.split(',') %}
                                    {% set start_time = m_slot[0].split("-")[0] %}
                                    {% set end_time = m_slot[0].split("-")[1] %}
                                    <div class="card col-md-3">
                                        <h6 class="card-header"><b>Morning Slots</b></h6>
                                        <div class="card-body">
                                            {% if slot.m_capacity < (end_time.split(":")[0]|int - start_time.split(":")[0]|int )*2 %}
                                            <p class="card-text">Timings : 
                                                {{start_time}}-{{end_time}}
                                            </p>
                                            <p class="card-text">Available on : 
                                            {% for m_slot in slot.morning_slots.split(',') %}
                                                {% if '-' not in m_slot %}
                                                    {{m_slot | title}},
                                                {% endif %}
                                            {% endfor %}
                                            </p>
                                            <a href="{{url_for('hospitals.appoint',slot_id=slot.id,c='morning')}}" class="stretched-link"></a>
                                            {% else %}
                                            <p>Slot is full</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if slot.afternoon_slots %}
                                    {% set a_slot = slot.afternoon_slots.split(',') %}
                                    {% set start_time = a_slot[0].split("-")[0] %}
                                    {% set end_time = a_slot[0].split("-")[1] %}
                                    <div class="card col-md-3">
                                        <h6 class="card-header"><b>Afternoon Slots</b></h6>
                                        <div class="card-body">
                                            {% if slot.a_capacity < (end_time.split(":")[0]|int - start_time.split(":")[0]|int )*2 %}
                                            <p class="card-text">Timings : 
                                                {{start_time}}-{{end_time}}
                                            </p>
                                            <p class="card-text">Available on : 
                                            {% for a_slot in slot.afternoon_slots.split(',') %}
                                                {% if '-' not in a_slot %}
                                                    {{a_slot | title}},
                                                {% endif %}
                                            {% endfor %}
                                            </p>
                                            <a href="{{url_for('hospitals.appoint',slot_id=slot.id,c='afternoon')}}" class="stretched-link"></a>
                                            {% else %}
                                            <p>Slot is full</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if slot.evening_slots %}
                                    {% set e_slot = slot.evening_slots.split(',') %}
                                    {% set start_time = e_slot[0].split("-")[0] %}
                                    {% set end_time = e_slot[0].split("-")[1] %}
                                    <div class="card col-md-3">
                                        <h6 class="card-header"><b>Evening Slots</b></h6>
                                        <div class="card-body">
                                            {% if slot.e_capacity < (end_time.split(":")[0]|int - start_time.split(":")[0]|int )*2 %}
                                            <p class="card-text">Timings : 
                                                {{start_time}}-{{end_time}}
                                            </p>
                                            <p class="card-text">Available on : 
                                            {% for e_slot in slot.evening_slots.split(',') %}
                                                {% if '-' not in e_slot %}
                                                    {{e_slot | title}},
                                                {% endif %}
                                            {% endfor %}
                                            </p>
                                            <a href="{{url_for('hospitals.appoint',slot_id=slot.id,c='evening')}}" class="stretched-link"></a>
                                            {% else %}
                                            <p>Slot is full</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if slot.night_slots %}
                                    {% set n_slot = slot.night_slots.split(',') %}
                                    {% set start_time = n_slot[0].split("-")[0] %}
                                    {% set end_time = n_slot[0].split("-")[1] %}
                                    <div class="card col-md-3">
                                        <h6 class="card-header"><b>Night Slots</b></h6>
                                        <div class="card-body">
                                            {% if slot.n_capacity < (end_time.split(":")[0]|int - start_time.split(":")[0]|int )*2 %}
                                            <p class="card-text">Timings : 
                                                {{start_time}}-{{end_time}}
                                            </p>
                                            <p class="card-text">Available on : 
                                            {% for n_slot in slot.night_slots.split(',') %}
                                                {% if '-' not in n_slot %}
                                                    {{n_slot | title}},
                                                {% endif %}
                                            {% endfor %}
                                            </p>
                                            <a href="{{url_for('hospitals.appoint',slot_id=slot.id,c='night')}}" class="stretched-link"></a>
                                            {% else %}
                                            <p>Slot is full</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endif %}

                                </div>
                                <br>
                            </div>
                            <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-feeds" role="tabpanel" aria-labelledby="nav-feedbacks-tab">
                <div class="card m-2">
                    <h6 class="card-header"><b>Feedbacks</b></h6>
                    <div class="card-body">
                        {% if feed %}
                        {% for f in feed %}
                        <div class="card m-1">
                            <div class="card-body">
                                <h6 class="card-title"><b>{{f.user_name}}</b></h6>
                                {% for i in range(f.rating) %}
                                <i class="fas fa-star mb-1" style="color: #f1c40f;"></i>
                                {% endfor %}
                                {% for i in range(5-f.rating) %}
                                <i class="fas fa-star"></i>
                                {% endfor %}
                                <p class="text-muted">{{f.content}}</p>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <h4>No feedbacks</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-feed" role="tabpanel" aria-labelledby="nav-feed-tab">
                <form method="POST">
                    {{form.hidden_tag()}}
                    <div class="card">
                        <div class="card-header">
                            <h6><b>Feedback Form</b></h6>
                        </div>
                        <div class="card-body">
                            {{form.user_name.label}}<br>
                            {{form.user_name(class="form-control")}}<br>
                            {{form.content.label}}<br>
                            {{form.content(class="form-control")}}<br>
                            {{form.rating.label}}<br>
                            {{form.rating(class="form-control")}}<br>
                            {{form.submit(class="btn btn-warning")}}
                        </div>
                    </div>
                </form>
            </div>
          </div>
    </div>
</div>
{% endblock %}